/* Portfolio.css */

.custom-image {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  margin: 0 auto; /* Center the image */
}

.card {
  max-width: 400px;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  overflow: hidden;
}

.card-body {
  text-align: center;
}

.card-title {
  margin-top: 20px;
  font-size: 2em;
  color: #333;
}

.card-text {
  color: #666;
}
.detail {
  background-image: url("https://www.realfakephotos.com/_next/image?url=%2F_next%2Fstatic%2Fmedia%2FTestimonial-Gabriel-Rodriguez.1f8335f4.png&w=256&q=75");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 3px solid red;
  height: 100vh;
}
.name {
  font-weight: bolder;
  font-size: 60px;
  color: rgb(146, 190, 190);
}
.address {
  position: absolute;
  right: 0px;
  bottom: 50px;
}

@media (max-width: 1200px) {
  .name {
    font-size: 50px;
  }
}
@media (max-width: 992px) {
  .name {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .name {
    font-size: 35px;
  }
}
@media (max-width: 576px) {
  .name {
    font-size: 25px;
  }
}
